.beer-popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(162 132 132 / 50%);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
}
.beer-popup {
  position: absolute;
  width: 300px;
  height: 530px;
  background-color: #03081d;
  border-radius: 10px;
  overflow: hidden;
}
.beer-popup h2,
p {
  color: white;
}
.beer-popup h2 {
  font-size: 28px;
  margin-bottom: 0.15em;
}
.beer-popup p {
  font-size: 18px;
}
.favorite-button {
  color: gray;
  width: 20px;
  height: 20px;
  transition: color 0.5s ease-in-out;
}
.favorite-button.favorited {
  color: rgb(231, 60, 60);
}
.beer-popup span {
  color: #f88a32;
  font-weight: 700;
}
.beer-popup-image {
  position: relative;
  width: 100%;
  background: blue;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.beer-popup-image:before {
  content: '';
  padding-top: 100%;
  float: left;
}
.beer-popup-info {
  padding: 1em;
}
.beer-popup-icons {
  width: 100%;
  display: flex;
  margin-bottom: 0.5em;
}
.beer-popup-icons .stars-wrapper {
  margin-left: 1em;
}
.beer-popup-icons .stars svg {
  width: 20px;
  height: 20px;
}
.beer-popup-info .beer-card-rating {
  width: 0px;
  transform: scale(1.1);
  margin-bottom: 0.4em;
}
.beer-card-p {
  margin-bottom: 1em;
}
.extra-info {
  margin-left: 0.5em;
}
