.display-stars-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.stars-container {
  width: calc((1em * 4) + 0.8em);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mask-container {
  width: calc((1em * 4) + 0.8em);
  height: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.mask {
  position: absolute;
  width: calc((1em * 4) + 0.8em);
  height: 0.8em;
  overflow-x: hidden;
  transition: width 0.2s ease-in-out;
}
.mask-stars {
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
}
.mask-stars:nth-child(5) {
  margin-right: 0;
}
.empty-stars {
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
}
.empty-stars:nth-child(5) {
  margin-right: 0;
}
